/**
 * Typography & Text styles
 */

/* html is set to 62.5% so that all the REM measurements are based on 10px sizing. So basically 1.5rem = 15px */
html {
  font-size: 62.5%;
}
body {
  font-size: 1.5rem; /* Change to rem for consistency */
  line-height: 1.6;
  font-weight: 400;
  font-family: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background:url(background.jpeg) center center no-repeat fixed;
  background-size:cover; /* Moved from html for specificity */
}

/* Make the container responsive */
body, #container {
  max-width: 100%; /* Use 100% for max width to make it responsive */
  margin: 25px auto;
  padding: 0 15px; /* Add padding to prevent content from touching the screen edges */
}

header, #content, footer { 
  background: rgba(0,0,0,.8); 
  padding: 25px;
  color: #FFFFFF; 
  box-sizing: border-box; /* Ensure padding is included in the element's total width and height */
}

/* Responsive menu */
ul.main-menu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center align for better responsiveness */
  list-style: none;
}
ul.main-menu li a {
  margin: 0 10px; /* Reduce margin for smaller screens */
  font-size: 1.8rem; /* Adjusted font size */
}
@media (min-width: 768px) {
  ul.main-menu li a {
    margin-right: 20px; /* Increase margin for wider screens */
    font-size: 2.0rem; /* Original font size for larger screens */
  }
}

/* Adjustments for content sections */
.content-wrapper {
  display: flex;
  flex-direction: column; /* Stack them vertically on smaller screens */
  align-items: center; /* Center-align the items */
  justify-content: center;
}

@media (min-width: 768px) {
  .content-wrapper {
    flex-direction: row; /* Restore horizontal layout for wider screens */
    justify-content: space-between;
    align-items: flex-start; /* Align items to start for a better layout */
  }
}

.image-content, .text-content {
  max-width: 100%; /* Ensure they don't exceed the container's width */
  box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

@media (min-width: 768px) {
  .text-content {
    margin-right: 20px; /* Adjust the spacing between text and image for wider screens */
  }
}

/* Enhancements for list styles */
.interests-list li::before {
  content: "\2022"; /* Unicode for bullet (dot) character */
  color: #EF6D3D; /* Change dot color to match the theme */
  font-weight: bold; /* Make the dots bold for better visibility */
  display: inline-block; /* Treat the bullet as inline block for better control */
  width: 1em; /* Set a fixed width for alignment */
  margin-left: -1em; /* Pull the dots outside the list */
}

/* Media query for larger screens */
@media (min-width: 1024px) {
  body {
    max-width: 960px; /* Set a max-width for larger screens to prevent content from stretching too wide */
    margin: 25px auto;
    padding: 0; /* Reset padding for large screens */
  }
}
